In [1]:
a= [1,2,3]
b=a
a.append(4)
b

[1, 2, 3, 4]

In [3]:
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

x=Gizmo()

Gizmo id: 139998215198320

In [4]:
y =Gizmo()*10

Gizmo id: 139998481452352

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [6]:
charles={'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [7]:
id(charles), id(lewis)

(139998198680320, 139998198680320)

In [8]:
lewis['balance']= 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [9]:
alex ={'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [10]:
alex is charles

False

In [11]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [12]:
id(t1[-1])

139998197562176

In [13]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 139998197562176)

In [14]:
t1 ==t2

False

In [15]:
l1 = [3, [55, 44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [16]:
l2 == l1

True

In [17]:
l2 is l1

False

In [18]:
l1 = [2, [66,55,44], (7,8,9)]
l2 = list(l1)

In [19]:
l1.append(100)

In [20]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [2, [66, 44], (7, 8, 9), 100]
l2: [2, [66, 44], (7, 8, 9)]

In [21]:
l2[1] += [33,22]

In [24]:
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [2, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [2, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [25]:
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers=[]
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [26]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(139998211880864, 139998211874912, 139998211846272)

In [27]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [28]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(139998524810176, 139998524810176, 139998195898880)

In [29]:
a= [10,20]
b= [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [30]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [31]:
def f(a, b):
  a += b
  return a

In [32]:
a=[1,2]
b=[3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [33]:
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [34]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [35]:
class HauntedBus:
  """유령 승객이 출몰하는 버스 모델"""

  def __init__(self, passengers=[]):
    self.passengers = passengers

  def pick(self,name):
    self.passengers.append(name)

  def drop(self,name):
    self.passengers.remove(name)

In [36]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [37]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [39]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [40]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [41]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [42]:
bus2.passengers is bus3.passengers

True

In [43]:
bus1.passengers

['Bill', 'Charlie']

In [44]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [45]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [46]:
class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [47]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [48]:
class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [49]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [50]:
import weakref
s1={1,2,3}
s2=s1
def bye():
  print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [51]:
del s1
ender.alive

True

In [53]:
s2 = 'spam'

In [54]:
ender.alive

False